{% load humanize %}
{% for tx in orders %}
  <div class="row row-border text-center align-items-center mx-2">
    <div class="col-2">#{{ tx.id }}</div>
    <div class="col-2">
      {% if tx.guest %}
        {{ tx.guest.name }}
      {% else %}
        —
      {% endif %}
    </div>
    <div class="col-2">{{ tx.service_type|default:'—' }}</div>
    <div class="col-2">{{ tx.date_time|date:'H:i d/m/Y' }}</div>
    <div class="col-1">₱{{ tx.total_amount|floatformat:2|intcomma }}</div>
    <div class="col-1">{{ tx.status|title }}</div>
    <div class="col-1">
      {% if tx.payment_method == 'room' %}
        Charge to Room
      {% else %}
        Cash
      {% endif %}
    </div>
  </div>
{% empty %}
  <div class="text-center py-4">
    <p>No records found.</p>
  </div>
{% endfor %}
