{% load static %}
<div class="sidebar bg-gradient text-white">
  <div class="text-center p-3">
    <img src="{% static 'images/aces-logo.png' %}" alt="ACES Logo" class="logo mb-2" />
    <h2 class="brand-text text-white">ACES HMS</h2>
  </div>
  <div class="sidebar-menu mt-4 mb-5">
    <a href="{% url 'staff_laundry_home' %}" class="{% if active_page == 'home' %}active{% endif %}">
      <img src="{% static 'images/pos.png' %}" alt="POS Icon" class="icon me-2" style="width: 20px; height: 20px; filter: invert(1)" />
      POS
    </a>
    <a href="{% url 'staff_laundry_orders' %}" class="{% if active_page == 'orders' %}active{% endif %}"><i class="bi bi-clipboard-check me-2"></i> Orders</a>
    <a href="{% url 'staff_laundry_messages' %}" class="{% if active_page == 'messages' %}active{% endif %}"><i class="bi bi-chat-dots me-2"></i> Messenger</a>
  </div>
  <div class="mt-5">
    <p class="small mb-1 mt-5 text-center mx-auto" style="font-size: 0.8rem">You are logged in as {{ user.username }}</p>
    <a href="{% url 'logout' %}" class="btn btn-light btn-sm px-4 rounded-pill text-center mx-5">Sign out</a>
  </div>
</div>
