{% extends 'base.html' %}
{% load static %}
{% block title %}
  Admin Front Office Reports
{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'admin/css/reports.css' %}" />
{% endblock %}
{% block sidebar %}
  {% include './includes/sidebar.html' with active_page='reports' %}
{% endblock %}
{% block content %}
  <div class="container">
    <!-- Filters -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="mb-0">Laundry Reports</h2>
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-2 text-black"><i class="bi bi-filter text-black"></i>Filter</button>
        <button class="btn btn-outline-secondary me-2 text-black">Sort <i class="bi bi-sort-down text-black"></i></button>
        <input type="text" class="form-control w-auto search-bar" placeholder="Search" />
      </div>
    </div>
    <div class="row boxes">
      <div class="col">
        <p class="title">Completed Transactions</p>
        <span class="number">{{ completed_count }}</span>
      </div>
      <div class="col">
        <p class="title">Room Charges</p>
        <span class="number">₱ {{ room_charges }}</span>
      </div>
      <div class="col">
        <p class="title">Cash Payments</p>
        <span class="number">₱ {{ cash_payments }}</span>
      </div>
      <div class="col">
        <p class="title">Revenue</p>
        <span class="number">₱ {{ total_revenue }}</span>
      </div>
    </div>
    <!-- Table Header -->
    <div class="row table-header py-2 text-center">
      <div class="col-1">
        <input type="checkbox" />
      </div>
      <div class="col-2">Receipt No.</div>
      <div class="col-2">Customer</div>
      <div class="col-2">Service Type</div>
      <div class="col-2">Date and Time</div>
      <div class="col-2">Status</div>
      <div class="col-1">Actions</div>
    </div>

    <!-- Table Rows -->
    <div id="orders-container">
      {% include './includes/order_rows.html' %}
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-between mt-4">
      <div>
        <label for="pages">Pages</label>
        <select id="pages" class="form-select d-inline-block w-auto">
          <option selected>100/100</option>
        </select>
      </div>
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">100</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script src="{% static 'admin/js/reports.js' %}"></script>
{% endblock %}
