{% load static %}
<div class="sidebar bg-gradient text-white" style="min-width: 17.63%; max-width: 17.63%;">
  <div class="text-center p-3">
    <img src="{% static 'images/new HMS.png' %}" alt="ACES Logo" class="logo mb-2" />
  </div>
  <div class="sidebar-menu mt-4 mb-5">
    <a href="{% url 'HomeStaff' %}" class="{% if active_page == 'dashboard' %}active{% endif %}">Front Office</a>
    <a href="{% url 'MessageStaff' %}" class="{% if active_page == 'messages' %}active{% endif %}">Messenger</a>
    <a href="{% url 'activity_home' %}" class="{% if active_page == 'activities' %}active{% endif %}">Activities</a>
    {% if request.user.role == 'SUPER_ADMIN' %}
      <a href="{% url 'admin_home' %}">Admin</a>
    {% endif %}
  </div>
  <div class="mt-auto p-3 d-flex flex-column align-items-center">
    <p class="small text-center mb-2" style="font-size: 0.8rem; font-weight: bold;">
      <em>You are logged in as <span style="text-decoration: underline;">{{ user.username }}</span></em>
    </p>

    <a href="{% url 'logout' %}" class="btn btn-light btn-sm px-4 rounded-pill"><em>Sign out</em></a>
  </div>
</div>
