{% extends 'base.html' %}
{% load static %}

{% block title %}
  Cafe Staff Home
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <link rel="stylesheet" href="{% static 'cafe/css/cafe.css' %}" />
{% endblock %}

{% block sidebar %}
  {% include './includes/sidebar.html' with active_page='home' %}
{% endblock %}

{% block content %}
  <div class="pos-container">
    <h1>Cafe POS</h1>
    <div class="pos-content-container">
      <div class="left-side">
        <div class="row first-row">
          <div class="col filter-box" data-category="">
            <span>All</span>
            <small>{{ total_items }} Items</small>
          </div>
          <div class="col filter-box" data-category="Pasta">
            <span>Pasta</span>
            <small>{{ pasta_count }} items</small>
          </div>
          <div class="col filter-box" data-category="Pastry">
            <span>Pastry</span>
            <small>{{ pastry_count }} items</small>
          </div>
          <div class="col filter-box" data-category="Hot Drinks">
            <span>Hot Drinks</span>
            <small>{{ hot_drinks_count }} items</small>
          </div>
          <div class="col filter-box" data-category="Cold Drinks">
            <span>Cold Drinks</span>
            <small>{{ cold_drinks_count }} items</small>
          </div>
          <div class="col filter-box" data-category="Sandwiches">
            <span>Sandwiches</span>
            <small>{{ sandwiches_count }} items</small>
          </div>
        </div>

        <div class="row align-items-center second-row">
          <div class="col-10 d-flex justify-content-start">
            <input type="text" class="search-bar" placeholder="Search items" />
          </div>
          <div class="col-2 d-flex justify-content-end">
            <img src="{% static 'images/search.png' %}" alt="" id="search-icon" style="cursor: pointer;" />
          </div>
        </div>

        <div class="row third-row g-3 mt-1" id="item-results">
          {% include './includes/item_cards.html' %}
        </div>
      </div>

      <div class="right-side">
        <div class="row header px-3 py-2">
          <div class="col d-flex justify-content-between align-items-center">
            <div class="text-center w-100">
              <div class="fw-semibold">
                <select name="customer" id="customer-select">
                  <option value="">Select Customer</option>
                  {% for customer in guests %}
                    <option value="{{ customer.id }}">{{ customer.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <small class="text-muted">Order no. #00001</small>
            </div>
            <img src="{% static 'images/editing.png' %}" alt="Edit" class="ms-2" style="width: 16px; height: 16px; cursor: pointer;" />
          </div>
        </div>
        <hr />
        <div class="row items">
          <div class="col-12 d-flex justify-content-center mb-2">
            <button class="btn btn-outline-dark btn-sm me-1 px-3 py-1 dt-button">Dine In</button>
            <button class="btn btn-outline-dark btn-sm px-3 py-1 dt-button">Takeout</button>
          </div>
        </div>

        <div class="bottom-section mt-auto">
          <div class="row details">
            <div class="col-12 d-flex justify-content-between mb-2">
              <span>Subtotal</span>
              <input type="text" placeholder="0.00" disabled class="subtotal" id="subtotal" />
            </div>

            <div class="col-12 d-flex justify-content-between mb-2">
              <span>Cash Tendered</span>
              <input type="text" id="cash-tentered" />
            </div>

            <div class="col-12 d-flex justify-content-between mb-2">
              <span>Change</span>
              <input type="text" value="0.00" disabled id="change" />
            </div>

            <div class="col-12 d-flex justify-content-between mb-2 total">
              <span>TOTAL</span>
              <span id="total">0.00</span>
            </div>
          </div>
          <hr />
          <div class="row method">
            <div class="col">
              <span>Payment method</span>
              <button class="pm">Charge to room</button>
              <button class="pm">Card Payment</button>
              <button class="pm">Cash Payment</button>
            </div>
          </div>
          <div class="row order">
            <button class="po-btn" disabled>Place Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="{% static 'cafe/js/cafe.js' %}"></script>
{% endblock %}
